<!--<div class="btn-group {% for c in groupClasses %}{{ c }} {% endfor %}">-->
    <a role="button" data-href="{{ data_href }}" href="{{ url }}" data-what="{{ what }}" class="btn-tooltip confirm-delete btn btn-sm {% for c in btnClasses %}{{ c }} {% endfor %}" data-title="{{ desc }}">{% if icon != null %}<i class="{{ icon }} fa fa-times"></i> {% endif %}{{ title }}</a>
<!--</div>-->