{% extends '::baseHTML5.html.twig' %}

{% block htmlHead %}

    <!-- character encoding -->
    <meta charset="utf-8">

    <!-- set the bootstrap viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- page title -->
    <title>{{ get_config_yml('scribe.html_title_pre') }}{% block titlePre %}Home{% endblock %}{{ get_config_yml('scribe.html_title_post') }}</title>

    <!-- meta info -->
    <meta name="description" content="{% block description %}{{ get_config('scribe.html_description') }}{% endblock %}">
    <meta name="keywords"    content="{% block metaKeywords %}{{ get_config('scribe.html_keywords')   }}{% endblock %}">
    <meta name="author"      content="{% block metaAuthor %}{{ get_config('scribe.html_author')       }}{% endblock %}">

    <!-- Google+ publisher data -->
    <link rel="publisher" href="https://plus.google.com/+Scribenet">

    <!-- Twitter card info -->
    {% block metaTwitter %}
        <meta name="twitter:card"        content="{% block metaTwitterCard %}{{ get_config('scribe.twitter_card') }}{% endblock %}">
        <meta name="twitter:site"        content="{{ get_config('scribe.twitter_site') }}">
        <meta name="twitter:title"       content="{{ block('titlePre') }}{{ get_config_yml('scribe.html_title_post') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:creator"     content="{% block metaTwitterCreator %}{{ get_config('scribe.twitter_site') }}{% endblock %}">
        <meta name="twitter:image"       content="{% block metaTwitterImage %}{{ get_config('scribe.twitter_image') }}{% endblock %}">
    {% endblock %}

    <!-- Open Graph data -->
    {% block metaOG %}
        <meta property="og:title"       content="{{ block('titlePre') }}{{ get_config_yml('scribe.html_title_post') }}">
        <meta property="og:type"        content="{% block metaOGType %}{{ get_config('scribe.og_type') }}{% endblock %}">
        <meta property="og:description" content="{{ block('description') }}">
        <meta property="og:image"       content="{% block metaOGImage %}{{ get_config('scribe.og_image') }}{% endblock %}">
        <meta property="og:site_name"   content="{{ get_config('scribe.html_author') }}">
        <meta property="og:url"         content="{{ app.request.uri }}">
    {% endblock %}

    <!-- favicon -->
    {% image
        output='/favicon.ico'
            '@ScribeSharedBundle/Resources/public/images/favicon.ico'
    %}
        <link rel="shortcut icon" href="{{ asset_url }}">
    {% endimage %}

    <!-- google fonts! -->
    <link href="//fonts.googleapis.com/css?family=Bitter:400,700,400italic|Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Ubuntu+Mono|Roboto+Condensed:300italic,400italic,400,300,700" rel="stylesheet">


    <!-- BLOCK: internal css stylesheets -->
    {% block stylesheetsInternal %}

        <!-- all shared css resources -->
        {% stylesheets
            output='assets/css/shared.css'
            filter='less'
            filter='cssrewrite'
            filter='?uglifycss'
                '@scribe_less'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- all shared css plugin resources -->
        {% stylesheets
            output='assets/css/plugins.css'
            filter='cssrewrite'
            filter='?uglifycss'
                '@chosen_css'
                '@jqtimeline_css'
                '@simanek_hugrid_css'
                '@lightbox2_css'
                '@datetimepicker_css'
                '@icheck_css'
                '@xeditable_css'
                '@daterangepicker_css'
                '@qtip_css'
                '@chronoline_css'
                '@messenger_css'
                '@font_awesome_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% image '@font_awesome_font_otf'  output='assets/fonts/FontAwesome.otf' %}                  {% endimage %}
        {% image '@font_awesome_font_eot'  output='assets/fonts/fontawesome-webfont.eot' %}          {% endimage %}
        {% image '@font_awesome_font_svg'  output='assets/fonts/fontawesome-webfont.svg' %}          {% endimage %}
        {% image '@font_awesome_font_ttf'  output='assets/fonts/fontawesome-webfont.ttf' %}          {% endimage %}
        {% image '@font_awesome_font_woff' output='assets/fonts/fontawesome-webfont.woff' %}         {% endimage %}

        {% image '@glyphicons_font_eot'    output='assets/fonts/glyphicons-halflings-regular.eot' %} {% endimage %}
        {% image '@glyphicons_font_svg'    output='assets/fonts/glyphicons-halflings-regular.svg' %} {% endimage %}
        {% image '@glyphicons_font_ttf'    output='assets/fonts/glyphicons-halflings-regular.ttf' %} {% endimage %}
        {% image '@glyphicons_font_woff'   output='assets/fonts/glyphicons-halflings-regular.woff' %}{% endimage %}

        {% image '@fuelux_eot_font'        output='assets/fonts/fuelux.eot' %}                       {% endimage %}
        {% image '@fuelux_svg_font'        output='assets/fonts/fuelux.svg' %}                       {% endimage %}
        {% image '@fuelux_ttf_font'        output='assets/fonts/fuelux.ttf' %}                       {% endimage %}
        {% image '@fuelux_woff_font'       output='assets/fonts/fuelux.woff' %}                      {% endimage %}

        {% image '@lightbox2_loading_img'  output='assets/img/loading.gif' %}                        {% endimage %}
        {% image '@lightbox2_next_img'     output='assets/img/next.png' %}                           {% endimage %}
        {% image '@lightbox2_prev_img'     output='assets/img/prev.png' %}                           {% endimage %}
        {% image '@lightbox2_close_img'    output='assets/img/close.png' %}                          {% endimage %}

        {% image '@chosen_sprite_img'      output='chosen-sprite.png' %}                             {% endimage %}
        {% image '@chosen_sprite2x_img'    output='chosen-sprite@2x.png' %}                          {% endimage %}

        {% image '@icheck_line_img'        output='line.png' %}                                      {% endimage %}
        {% image '@icheck_line_img2x'      output='line@2x.png' %}                                   {% endimage %}

        {% image '@xeditable_clear_img'    output='assets/img/clear.png' %}                          {% endimage %}
        {% image '@xeditable_loading_img'  output='assets/img/loading.gif' %}                        {% endimage %}

        {% image '@chronoline_sprites_img' output='assets/images/chronoline-sprites.png' %}          {% endimage %}

        {% image '@jqtimeline_img'         output='assets/img/main_img.png' %}                       {% endimage %}

    {% endblock %}

{% endblock %}

{% block htmlBodyOuter %}
    <body>

        <div id="Top"></div>

        {% block loadingDialages %}
            <div class="loading-circle">
                <div class="loading-circle-container fade in">
                    <h3 class="loading-circle-text text-center">Please wait...</h3>
                    <div class="loading-circle-animation-outer"></div>
                    <div class="loading-circle-animation-inner"></div>
                </div>
                <div class="loading-circle-overlay fade in"></div>
            </div>
        {% endblock %}

        <!-- BLOCK: html body -->
        {% block htmlBody %}

            {% block navigation %}
                <div class="hidden-print">
                    {{ menu('main') }}
                </div>
            {% endblock %}

            {{ include('ScribeSharedBundle:Flash:all.html.twig') }}

            {% block contentWrapper %}
                <div id="scr-wrapper">
                    {% block content %}{% endblock %}
                    <div style="clear:both;"></div>
                </div>
            {% endblock %}

            {% block footer %}
                <div class="hidden-print">
                    {{ menu('foot') }}
                </div>
            {% endblock %}

        {% endblock %}

        {% block offcanvas %}
            <!-- BLOCK: all off-canvas items -->
        {% endblock %}

        {% block modals %}
            <!-- BLOCK: deletion modal, waiting in the wings -->
            <div id="modal-confirm-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-delete" aria-hidden="true">
                 <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel"><i class="fa fa-minus-circle"></i> Confirm Deletion <small><span class="modal-what">this item</span></small></h3>
                        </div>
                        <div class="modal-body">
                            <p>Please confirm the deletion of <span class="modal-what">this item</span>. <em>Note that this operation cannot be undone</em>. <strong>Are you sure?</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default btn-cancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> Cancel</button>
                            <a href="#" class="btn btn-danger btn-delete"><i class="fa fa-minus-circle"></i> <span class="modal-text">Continue</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-confirm-ajax-delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-ajax-delete" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel"><i class="fa fa-minus-circle"></i> Confirm Deletion <small><span class="modal-what">this item</span></small></h3>
                        </div>
                        <div class="modal-body">
                            <p>Please confirm the deletion of <span class="modal-what">this item</span>. <em>Note that this operation cannot be undone</em>. <strong>Are you sure?</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default btn-cancel" data-dismiss="modal" aria-hidden="true"><i class="fa fa-ban"></i> Cancel</button>
                            <a href="#" class="btn btn-danger btn-delete"><i class="fa fa-minus-circle"></i> <span class="modal-text">Continue</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-login" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel"><i class="fa fa-user"></i> Scribe Account</h3>
                        </div>
                        
                        <form class="form-signin" action="/security/login_check" method="post">
                            <div class="modal-body">
                                <h4 style="margin-top:0px;">Please sign in:</h4>
                                <div class="form-group">
                                    <input id="form-signin-username" type="text" class="form-control" name="_username" placeholder="E-mail address" value="{{ get_last_username() }}">
                                </div>
                                <div class="form-group" style="margin-bottom:-15px">
                                    <input id="form-signin-password" type="password" class="form-control" name="_password" placeholder="Password" value="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <small class="pull-right text-muted" style="margin-top: 16px;">
                                    <a href="/security/recover/">Forgot your password?</a>
                                </small>
                                <input type="hidden" name="_target_path" value="{{ app.request.uri }}">
                                <div class="btn-group pull-left">
                                    <button id="form-signin-go" class="btn btn-lg btn-primary" type="submit">Sign In <i class="fa fa-sign-in"></i></button>
                                    <button id="form-signin-cancel" class="btn btn-lg btn-warning"><i class="fa fa-ban"></i> Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% if scribe_security_tos_required() and scribe_security_tos_not_accepted() %}
                <div id="scribe-tos-modal" class="modal fade tos-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">{{ scribe_security_tos_type('header') }} <small>{{ scribe_security_tos_type('headerSmall') }}</small></h3>
                            </div>
                            <div class="modal-body">
                                {{ scribe_security_tos_type('text')|swim }}
                            </div>
                            <div class="modal-footer">
                                <a id="scribe-tos-modal-decline" href="#" data-href="{{ path('security_tos_decline', {typeId: scribe_security_tos_type('id')}) }}" class="btn btn-link">{{ scribe_security_tos_type('btnDeclineText') }}</a>
                                <a id="scribe-tos-modal-accept" href="#" data-href="{{ path('security_tos_accept', {typeId: scribe_security_tos_type('id')}) }}" class="btn btn-primary">{{ scribe_security_tos_type('btnAcceptText') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            
        {% endblock %}

        <a id="to-top" href="#Top"><i class="fa fa-angle-up"></i></a>

        <!-- BLOCK: all javascripts resources -->
        {% block javascripts %}

            <!-- all shared javascript resources compiled with closure -->
            {% javascripts
                output='assets/js/plugins.js'
                filter='?yui_js'
                    '@modernizr_js'
                    '@jquery_js'
                    '@hotkeys_js'
                    '@smoothscroll_js'
                    '@jquery_textarea_autogrow_js'
                    '@jquery_browser_detection_js'
                    '@chosen_js'
                    '@stupidtable_js'
                    '@tagcloud_js'
                    '@highcharts_js'
                    '@bootstrap_js'
                    '@typeahead_js'
                    '@hogan_js'
                    '@lightbox2_js'
                    '@moment_js'
                    '@datetimepicker_js'
                    '@icheck_js'
                    '@xeditable_js'
                    '@daterangepicker_js'
                    '@raphael_js'
                    '@imagesloaded_js'
                    '@qtip_js'
                    '@messenger_js'
                    '@eldarion_ajax_js'
                    '@fuelux_js'
                    '@jquery_knob_js'
                    '@chronoline_js'
                    '@numeric_js'
                    '@jquery_cookie_js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <!-- typeahead -->
            {% block javascripts_typeahead %}
                {{ search('scribe_search') }}
            {% endblock %}

            <!-- general shared scribe javascript functionality -->
            {% javascripts
                output='assets/js/scribe.js'
                filter='?yui_js'
                    'bundles/scribeshared/js/scribe/functions.js'
                    'bundles/scribeshared/js/scribe/general.js'
                    'bundles/scribeshared/js/scribe/ajax.js'
                    'bundles/scribeshared/js/scribe/tooltip.js'
                    'bundles/scribeshared/js/scribe/affix.js'
                    'bundles/scribeshared/js/scribe/form.js'
                    'bundles/scribeshared/js/scribe/tab.js'
                    'bundles/scribeshared/js/scribe/footer.js'
                    'bundles/scribeshared/js/scribe/messenger.js'
                    'bundles/scribeshared/js/scribe/modal.js'
                    'bundles/scribeshared/js/scribe/alert.js'
                    'bundles/scribeshared/js/scribe/actions.js'
                    'bundles/scribeshared/js/scribe/search.js'
                    'bundles/scribeshared/js/scribe/navbar.js'
                    'bundles/scribeshared/js/scribe/topanchor.js'
                    'bundles/scribeshared/js/scribe/scrollspy.js'
                    'bundles/scribeshared/js/scribe/login.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% if scribe_security_tos_required() and scribe_security_tos_not_accepted() %}

                {% javascripts
                    output='assets/js/scribe-tos.js'
                    filter='?yui_js'
                        'bundles/scribeshared/js/scribe/tos.js'
                %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}

            {% endif %}

        {% endblock %}

    </body>
{% endblock %}
