<html>
<head></head>
<body>
    <h1>Scribe {{ class }}: Notification</h1>
    <p>
        <strong>{{ name }}</strong>: {{ body }}
    </p>
    <p>If this message was received in error, please <a href="http://world.scribenet.com/contact">contact us</a> immediately and inform us of such.</p>
    <p>
        <strong>&#8212;<br />Scribe Accounts</strong>
    </p>
    <p><small>This message was sent by Scribe via <a href="{{ host_link }}">{{ host_link }}</a>.</small></p>
</body>
</html>