<!--<div class="btn-group {% for c in groupClasses %}{{ c }} {% endfor %}">-->
    <a data-toggle="tooltip" href="{{ url }}" class="btn-tooltip btn btn-sm {% for c in btnClasses %}{{ c }} {% endfor %}" data-title="{{ desc }}">{% if icon != null %}<i class="{{ icon }} fa"></i> {% endif %}{{ title }}</a>
<!--</div>-->
